.main-logo{
    position: relative;
    right: 85%;
    padding-top: 2%;
    width: 5%;
    height: 5%;
    text-shadow: 0 0 50px #0f0,
              0 0 100px #0f0,
              0 0 150px #0f0,
              0 0 200px #0f0,
              0 0 250px #0f0;
              animation: animate1 10s linear  infinite;
}
@keyframes animate1 {
    0%{
    filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
}
/*title*/
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
h2{
    position: relative;
    font-size: 4rem;
    color: #222;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}
@keyframes animate {
    0%,10%, 100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
/*usage*/
.usage{
    width: 80%;
    height: 40%;
    margin-right: 10%;
    margin-top: 10%;
}
.title2{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 100%;
}
.title2 h2{
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 10px black;
}
.title2 h2::before{
      content: attr(data-text);
      position: absolute;
      color: black;
      width: 350px;
      overflow: hidden;
      white-space: nowrap;
      animation: animate 8s linear infinite;
      filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
      text-shadow: 1px 1px 10px white;
}
.container3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.explain3{
    margin-inline: 10%;
}
.explain3 p{
    text-shadow: 1px 1px 10px white;
    color: rgb(0, 71, 6);
    font-size: 20px;
    font-weight: 500;
}
.container3 img{
    width: 40%;
    height: 40%;
    margin-left: 10%;
    border-radius: 25px;
    box-shadow: 1px 1px 100px white;
}
/*table*/
.table{
    width: 80%;
    height: 40%;
    margin-right: 10%;
    margin-top: 10%;
}
.title3{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 100%;
}
.title3 h2{
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 10px black;
}
.title3 h2::before{
      content: attr(data-text);
      position: absolute;
      color: black;
      width: 350px;
      overflow: hidden;
      white-space: nowrap;
      animation: animate 8s linear infinite;
      filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
      text-shadow: 1px 1px 10px white;
}
.container4{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.explain4{
    margin-inline: 10%;
}
.explain4 p{
    text-shadow: 1px 1px 10px white;
    color: rgb(0, 71, 6);
    font-size: 20px;
    font-weight: 500;
}
.container4 img{
    width: 40%;
    height: 40%;
    margin-left: 10%;
    border-radius: 25px;
    box-shadow: 1px 1px 100px white;
}
/*sample*/
.sample{
    width: 80%;
    height: 40%;
    margin-right: 10%;
    margin-top: 10%;
}
.title4{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 100%;
}
.title4 h2{
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 10px black;
}
.title4 h2::before{
    content: attr(data-text);
    position: absolute;
    color: black;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
    text-shadow: 1px 1px 10px white;
}
.container5{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.explain5{
    margin-inline: -2%;
}
.explain5 p{
    text-shadow: 1px 1px 10px white;
    color: rgb(0, 71, 6);
    font-size: 20px;
    font-weight: 500;
    margin-top: 40%;
    margin-right: 25%;
}
.container5 .sliders{
    position: relative;
    width: 30%;
    height: 30%;
    margin-left: 60%;
    border-radius: 25px;
}
.sliders .slide{
    position: absolute;
    width: 30%;
    height: 30%;
}
.sliders .slide img{
    width: 500px;
    height: 500px;
    margin-right: 190px;
    margin-top: -150px;
    border-radius: 25px;
    box-shadow: 1px 1px 100px white;
    transition: 1s;
}
.button{
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    bottom: -350px;
    left: -440px;
}
.button button{
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
}
.button button:hover{
    background-color: rgb(0, 71, 6);
    color: #fff;
}
/*return*/
.return a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 45%;
    margin-top: 20%;
    width: 12%;
    transition: 1s;
    background-color: #fff;
    color: black;
    font-weight: 900;
    padding: 10px 10px;
    border-radius: 20px;
}
.return a:hover{
    background-color: rgb(0, 71, 6);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
}
/*****************************************************/
/*responsive*/
@media (max-width: 481px){
    .main-logo{
        width: 15%;
        height: 15%;
        right: 70%;
    }
    h2{
        font-size: 2rem;
        margin-top: 10%;
    }
    .explain3 p{
      font-size: 10px;
    }
    .title2 h2{
        font-size: 20px;
    }
    .title3 h2{
        font-size: 20px;
    }
    .title4 h2{
        font-size: 20px;
    }
    .explain4 p{
      font-size: 10px;
    }
    .explain5 p{
      font-size: 10px;
    }
    .container5 .sliders{
      width: 50px;
      height: 50px;
    }
    .sliders .slide{
      width: 50px;
      height: 50px;
    }
    .sliders .slide img{
      width: 150px;
      height: 150px;
      margin-right: 30px;
      margin-top: -15px;
      box-shadow: 1px 1px 50px white;
  
    }
    .button{
      width: 60px;
      height: 60px;
      top: 100px;
      right: 80px;
    }
    .return{
        width: 100%;
        top: 10%;
    }
    .return a{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        width: 40%;
        margin-right: 30%;
    }
  }