*{
    direction: rtl;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #485461;
    background-image: linear-gradient(100deg, #fff  0%,#003e85 50%);
}