*{
    direction: rtl;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #485461;
    background-image: linear-gradient(135deg, #9e9d9d  0%,#004DA4 50%);
}