/*title*/
body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.main-logo{
    position: relative;
    right: 85%;
    padding-top: 2%;
    width: 10%;
    height: 10%;
}
@media (max-width: 415px){
    .main-logo{
       width: 30%;
       height: 40%;
       right: 55%;
       padding-top: 10%;
    }
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
h2{
    position: relative;
    font-size: 6rem;
    color: #222;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}
@keyframes animate {
    0%,10%, 100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
/*Slides*/
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 80%;
    height: 80%;
    box-shadow: 0 30px 50px #dbdbdb;
}
.container .slide .item{
    width: 30%;
    height: 40%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #03ddf550;
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
    transition: 1s;
}
.slide .item:nth-child(1){
    top: 0%;
    left: 0%;
    transform: translate(0, 0);
    border-radius: 0%;
    width: 100%;
    height: 100%;
}
.slide .item:nth-child(2){
    left: 80%;
}
.slide .item:nth-child(3){
    left: calc(20% + 28%);
}
.item .content{
    position: absolute;
    top: 60%;
    left: 10%;
    width: 40%;
    margin-left: 10%;
    text-align: left;
    justify-content: left;
    color: white;
    transform: translate(-80%, 50%);
    display: none;
}
.item:nth-child(1) .content{
    display: inline;
}
.content .name{
    margin-right: -50%;
    width: 80%;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 0px 0px white;
    opacity: 0;
    animation: animate2 1s ease-in-out 1 forwards;
}
.content .des{
    margin-top: 4%;
    width: 70%;
    margin-right: -30%;
    font-size: smaller;
    font-weight: bold;
    text-shadow: 0px 0px 0px white;
    opacity: 0;
    animation: animate2 1s ease-in-out 0.5s 1 forwards;
}
.content button{
    padding: 10px;
    margin-bottom: 15%;
    margin-top: 4%;
    margin-left: 80%;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: #004DA4;
    text-shadow: 0px 0px 0px white;
    opacity: 0;
    transition: 1s;
    animation: animate2 1s ease-in-out 1s 1 forwards;
}    
.content button:hover{
    background-color: gold;
}
@keyframes animate2 {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}
.button{
    text-align: center;
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: -4%;
}
.button button{
    width: 2%;
    height: 75%;
    border-radius: 30px;
    margin: 0 5px; 
    border: none;
    cursor: pointer;
    transition: 1s;
}
.button button:hover{
    background-color: #004DA4;
    color: #fff;
}
/*return*/
.return{
    height: 200px;
}
.return a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    margin-right: 45%;
    width: 12%;
    color: #fff;
    transition: 1s;
    background-color: silver;
    color: black;
    padding: 10px 10px;
    border-radius: 20px;
}
.return a:hover{
    background-color: #004DA4;
    padding: 10px 20px;
    border-radius: 25px;
}
/*responsive for mobile*/
@media (max-width: 415px){
    h2{
        font-size: 2rem;
        margin-top: 20%;
    }
    .return{
        width: 100%;
    }
    .return a{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        width: 40%;
        margin-right: 30%;
    }
}